.column1 {
  width: 300px;
  float: left;
  background-color: azure;
}

.column2 {
  width: 300px;
  float: left;
  background-color: blue;
}

.column3 {
  width: 300px;
  float: left;
  background-color: red;
}

h2.imporatant{
  color: brown;
}