h2.important{
  color: brown;
}

.column1 {
  width: 30%;
  float: left;
  background-color:lightpink;
  margin: 20px;
  border: 2px solid red;
  padding: 4px;
  box-sizing: border-box;
}

.column2 {
  width: 30%;
  float: left;
  background-color: lightgreen;
  margin: 20px;
  border: 2px solid green;
  padding: 4px;
  box-sizing: border-box;
}

.column3 {
  width: 30%;
  float: left;
  background-color: skyblue;
  margin: 20px;
  border: 2px solid blue;
  padding: 4px;
  box-sizing: border-box;
}

.centered-image {
  margin:auto;
  width: 70%;
  display: block;
}

.body{
  background-image: url(https://cf.ltkcdn.net/interiordesign/images/orig/223948-2000x1500-Home-decoration-and-design.jpg)
}